<div class="row">
  <div class="col-md-5">
    <h2>List of companies</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let company of companies"
        (click)="selectCompany(company)"
        [class.active]="company === selectedCompany">
        {{company.name}}
        {{company.homepage_url}}

      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewCompany()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <company-details
      [company]="selectedCompany"
      [createHandler]="addCompany"
      [updateHandler]="updateCompany"
      [deleteHandler]="deleteCompany"
      [productsHandler]="getCompanyProducts">

    </company-details>
  </div>
</div>
